
<div class="workerinfo-main-cont jsWorkersInfoMainCont">
    <div class="workerinfo-sub-cont">
        <div class="workerinfo-title-cont">
            <h2 class="workerinfo-title-text">Workers Information Sheet</h2>
            <h2 class="workerinfo-title-close">&times;</h2>
        </div>
         <div class="workerinfo-persinfo-title-cont">
            <h2 class="workerinfo-sub-title-text">Personal Information</h2>
            <button class="workerinfo-save-btn">Save</button>
        </div>
        <div class="workerinfo-item-main-cont">
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">First Name :</label>
                <input class="workerinfo-item-input" />
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Middle Name :</label>
                <input class="workerinfo-item-input" />
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Last Name :</label>
                <input class="workerinfo-item-input" />
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Birth Day :</label>
                <input type="date" class="workerinfo-item-input" />
            </div>
           
        </div>
         <div class="workerinfo-persinfo-title-cont">
            <h2 class="workerinfo-sub-title-text">Benefits</h2>
            <button class="workerinfo-save-btn">Save</button>
        </div>
         <div class="workerinfo-item-main-cont">
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">SSS No :</label>
                <input class="workerinfo-item-input" />
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Pag-ibig No :</label>
                <input class="workerinfo-item-input" />
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Philhealth No :</label>
                <input class="workerinfo-item-input" />
            </div>
           
        </div>
         <div class="workerinfo-persinfo-title-cont">
            <h2 class="workerinfo-sub-title-text">Contact</h2>
            <button class="workerinfo-save-btn">Save</button>
        </div>
         <div class="workerinfo-item-main-cont">
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Mobile No :</label>
                <input class="workerinfo-item-input" />
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Mobile No :</label>
                <input class="workerinfo-item-input" />
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Email Add :</label>
                <input class="workerinfo-item-input" />
            </div>
           
        </div>
         <div class="workerinfo-persinfo-title-cont">
            <h2 class="workerinfo-sub-title-text">Employment</h2>
            <button class="workerinfo-save-btn">Save</button>
        </div>
         <div class="workerinfo-item-main-cont">
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Salary per day :</label>
                <input class="workerinfo-item-input" />
            </div>
            
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Allowance :</label>
                <input class="workerinfo-item-input" />
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Fixed Salry? :</label>
                <select class="workerinfo-item-select" >
                    <option class="workerinfo-item-options" data-id=1>No</option>
                    <option class="workerinfo-item-options" data-id=2>Yes</option>
                </select>
            </div>
           
        </div>
    </div>
</div>
