.invalid{
    border:1px solid red;
}
.disable-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    height: 100%;
    color: #777;
    letter-spacing: .1em;
}

.disable-input {
    color: #777;
    font-weight:200;
}
.position-relative{
    position:relative;
}